PUBLIC_SITE_URL=https://seudominio.com.br
# Ex.: 5522999999999 (país + DDD + número)
PUBLIC_WHATSAPP_NUMBER=
# URL completa ou @usuario
PUBLIC_INSTAGRAM_URL=
PUBLIC_CONTACT_EMAIL=
PUBLIC_FORM_ENDPOINT=
